.nav {
  position: fixed; /* Fixed position to stay on the left side */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  height: 100%; /* Full height of the viewport */
  width: 200px; /* Width of the sidebar */
  background-color: #F1EFE7; /* Tan background color */
  border-right: 1px solid #ccc; /* Border on the right side */
}


.logo-container {
  display: flex; /* Flex layout for centered positioning */
  align-items: center; /* Center align items vertically */
}

.logo {
  height: 200px; /* Adjust the height as per your logo dimensions */
  width: auto;
  margin-right: 1rem; /* Optional: Adds spacing between logo and nav links */
}

.nav ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.nav li {
  padding: 10px 15px; /* Padding for list items */
}

.nav li a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Text color */
  font-weight: bold; /* Bold text */
}

.nav li a:hover {
  background-color: #f0f0f0; /* Light background color on hover */
}
.main-content {
  margin-left: 400px; /* Ensure content starts after nav */
  padding: 2rem; /* Optional: Adds padding for content */
}